</div>
<div id="layout-footer" style="margin-top:3px;" class="hid-mobile">
<link rel="stylesheet" type="text/css" href="/assests/css/footer-style.css">
<div id="footer-expand-zone">
    <div id="fez-line"></div>
    <div style="width:980px;margin: 0 auto;position:relative;">
        <div id="fez-version">
            Version: <span style="color:white">1.0.0</span>
        </div>
        <div id="fez-expand-icon"></div>
        <div id="fez-powered-by">DEVELOPE BY SUNSHINE</div>
    </div>
</div>
<div id="footer" style="text-align:right;color:#555;margin-bottom:0px;display:none;">
    <table width="100%">
        <tr>
            <td class="footer-col-left" valign="top">
                <div style="padding:0px;margin-left:0px;position:relative;margin-right:5px;">
                    <a style="position:absolute;right:0px" href="index.html"><img width="98" height="64" alt="" title="" src="/assests/images/v2/logo sunshine.jpg" /></a>
                    <table width="100%" style="text-align:left" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="40%" valign="top">
                                <div class="frow"><a href="#">Hướng dẫn</a></div>
                                <div class="frow"><a href="#">Qui chế hoạt động</a></div>
                            </td>
                            <td  width="60%">
                                <div class="frow"><a href="#" target="_blank">Liên hệ</a></div>
                                <div class="frow"><a href="#" target="_blank">Facebook</a></div>
                            </td>
                        </tr>
                    </table>
                </div>
                
            </td>
            <td style="width:180px;text-align:left;font-size:12px;" valign="top" class="hid-mobile">
                <b>Nhóm Shunshine - KHTN</b> <br />
                KTX 135B Trần Hưng Đạo, Quận 1, TP. HCM   <br />                
                Điện thoại: 19009669 <br />
                E-mail: <a href="mailto:phamductien133@gmail.com">sunshine133@gmail.com</a>
            </td>
        </tr>
    </table>
    <div style="border-top: solid 0px #ddd;margin-top: 10px;text-align: left;font-size: 12px;">
        <span class="m-pad-10">Sunshine Team</span>
    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript" src="/assests/js/jquery.cookies.js"></script>    
</div>
<div class="show-mobile" style="margin-bottom:12px">
<center><a id="link_noresponsive" href="javascript:void(0);">Xem giao diện đầy đủ</a></center>
</div>
<a href="#top" id="top-link"><img border="0px" width='32px' src="/assests/images/top.png"></a>
</div>