/*  
    BORDER BOTTOM EDEDED
    BACKGROUND: F6F6F6;
*/
/*  border radius */
/*  Màu cơ bản */
/*  Clear after */
.mxClrAft:after {
  display: block;
  width: 0;
  height: 0;
  visibility: hide;
  clear: both;
  content: " ";
}
.bgs {
  background-image: url(../images/theme/main.png);
  background-size: 500px 500px;
  background-repeat: no-repeat;
}
/*  Class overlay chung, dùng để thêm vào selector nào cần hiệu ứng khi rê chuột vào */
/*  Css transform scale*/
.mxGray {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
.mxColor {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  filter: none;
}
.list-pos-inner {
  height: calc(100vh - 225px);
  height: -webkit-calc(100vh - 225px);
  height: -moz-calc(100vh - 225px);
}
.list-ads-position > * {
  float: left;
  min-height: 1px;
  font-size: 14px;
  color: #666;
}
.list-ads-position .col-ads-1 {
  width: 70px;
}
.list-ads-position .col-ads-2 {
  width: 100px;
}
.list-ads-position .col-ads-3 {
  width: 200px;
}
.list-ads-position .col-ads-4 {
  width: 150px;
}
.list-ads-position .col-ads-5 {
  width: 140px;
}
.list-ads-position .col-ads-6 {
  width: 90px;
}
.list-ads-position .col-ads-6 .fa-pencil,
.list-ads-position .col-ads-6 .fa-trash {
  -webkit-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  width: 40px;
  height: 40px;
  float: left;
  text-align: center;
  line-height: 40px;
  margin-top: 5px;
  font-size: 16px;
  cursor: pointer;
}
.list-ads-position .col-ads-6 .fa-check-square {
  -webkit-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  color: #0d0;
}

.list-ads-position .col-ads-6 .fa-close {
  -webkit-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  color: #d00;
}

.list-ads-position .col-ads-6 .fa-pencil:hover {
  color: #00bcd4;
}
.list-ads-position .col-ads-6 .fa-check-square:hover {
  background: #0d0;
  color: #fff;
}
.list-ads-position .col-ads-6 .fa-trash:hover {
  color: #f21848;
}
.list-ads-position .col-ads-6 .fa-close:hover {
  background: #d00;
  color: #fff;
}
.list-ads-position.box-title > * {
  font-size: 14px;
  font-family: 'HelveticaNeue-Medium';
  color: #333;
  cursor: pointer;
}
.add-add-pos {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 56px;
  height: 56px;
  background: #00bcd4;
  color: #fff;
  text-align: center;
  line-height: 56px;
  bottom: -70px;
  right: 0;
  font-size: 18px;
  position: absolute;
  cursor: pointer;
}
.page-ads-edit {
  width: 800px;
}
.page-ads-edit .blue-title {
  width: 100%;
  font-family: "HelveticaNeue-Medium";
  font-size: 13px;
  color: #00bcd4;
}
.page-ads-edit input[type="text"] {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #DCDCDC;
  padding: 0px 10px;
  border-radius: 3px;
  font-size: 13px;
}
.page-ads-edit select {
  width: 100%;
  height: 30px;
  line-height: 30px ;
}
.page-ads-edit select option {
  line-height: 30px;
}
.page-ads-edit md-switch {
  float: left;
}
.page-ads-edit select[name="ads-select-slide"] {
  margin-top: 12px;
}
.page-ads-edit .upload-image-ads {
  border: 1px dashed #999999;
  margin-bottom: 20px;
  text-align: center;
  min-height: 445px;
  position: relative;
  overflow: hidden;
}
.page-ads-edit .upload-image-ads > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-ads-edit .upload-image-ads .image-ads {
  background: #f0f0f0 none repeat scroll 0% 0%;
  max-width: 95%;
  max-height: 95%;
  display: block;
}
.page-ads-edit .upload-image-ads .image-ads.none {
  display: none;
}
.page-ads-edit .upload-image-ads .info-ads {
  height: 100%;
  width: 100%;
  font-size: 15px;
  line-height: 14px;
  font-family: HelveticaNeue-Medium;
  color: #999;
  padding: 190px 0;
  cursor: pointer;
}
.page-ads-edit .upload-image-ads .info-ads span {
  display: block;
  color: #00bcd4;
  font-size: 20px;
  line-height: 14px;
}
.page-ads-edit .upload-image-ads .fa-trash {
  -webkit-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  cursor: pointer;
  font-size: 40px;
  width: 100%;
  line-height: 491px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
  height: 100%;
  margin-top: -1px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
  opacity: 0;
}
.page-ads-edit .upload-image-ads .fa-trash:hover {
  opacity: 1;
}
.page-ads-position .filter-ads-position {
  height: 50px;
}
.page-ads-position .filter-ads-position .item-filter-ads {
  float: left;
  line-height: 50px;
  padding: 0 20px;
  font-family: HelveticaNeue;
  font-size: 14px;
  color: #555;
}
.page-ads-position .filter-ads-position .item-filter-ads span {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #D33;
  color: #FFF;
  height: 20px;
  display: inline-block;
  font-size: 12px;
  font-family: HelveticaNeue-Medium;
  line-height: 20px;
  padding: 0 6px;
}
.page-ads-position .filter-ads-position .item-filter-ads.atv {
  font-family: HelveticaNeue-Bold;
}
.page-ads-position .list-ads-position .col-ads-2 {
  width: 80px;
}
.page-ads-position .list-ads-position .col-ads-5 {
  width: 160px;
  padding: 6px 0 !important;
}
.page-ads-position .list-ads-position .col-ads-5 span {
  line-height: 18px !important;
  vertical-align: top;
  display: inline-block;
  float: left;
  font-family: inherit;
  font-size: inherit;
  clear: both;
}
.page-adsposition-edit .blue-title {
  width: 100%;
  font-family: "HelveticaNeue-Medium";
  font-size: 13px;
  color: #00bcd4;
}
.page-adsposition-edit input[type="text"] {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #DCDCDC;
  padding: 0px 10px;
  border-radius: 3px;
  font-size: 13px;
}
.page-adsposition-edit select {
  width: 100%;
  height: 30px;
  line-height: 30px ;
}
.page-adsposition-edit select option {
  line-height: 30px;
}
.page-adsposition-edit md-switch {
  float: left;
}
.page-adsposition-edit md-radio-button {
  margin: 0;
}
.page-adsposition-edit select[name="ads-select-slide"] {
  margin-top: 12px;
}
.page-adsposition-edit .review-ads {
  border: 1px dashed #999999;
  margin-bottom: 20px;
  text-align: center;
  min-height: 430px;
  position: relative;
}
.page-adsposition-edit .review-ads .image-ads {
  background: #f0f0f0 none repeat scroll 0% 0%;
  max-width: 100%;
  max-height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
.page-adsposition-edit .review-ads .image-ads.none {
  display: none;
}
.page-adsposition-edit .upload-image-ads-pos {
  cursor: pointer;
  height: 54px;
  width: 100%;
  border: 1px dashed #dcdcdc;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 54px;
  color: #666;
}
.page-adsposition-edit .upload-image-ads-pos span {
  color: #00bcd4;
}
.page-adsposition-edit #s2id_select-list-vendor {
  width: 100%;
}
.page-adsposition-edit #s2id_select-list-vendor .select2-choices {
  border: 1px solid #cdcdcd;
}
.page-adsposition-edit #s2id_select-list-vendor .select2-choices .select2-search-choice {
  height: 30px;
  padding: 0 5px 0 10px;
}
.page-adsposition-edit #s2id_select-list-vendor .select2-choices .select2-search-choice div {
  float: left;
  display: block;
  font-family: HelveticaNeue;
  font-size: 14px;
  line-height: 27px;
  color: #666666;
}
.page-adsposition-edit #s2id_select-list-vendor .select2-choices .select2-search-choice a {
  float: right;
  display: block;
  position: static;
  margin-top: 7px;
  color: #ffffff !important;
  margin-left: 5px;
}
.page-adsposition-edit .list-img-upload .item-img-upload:nth-child(3n + 1) {
  padding-right: 10px;
}
.page-adsposition-edit .list-img-upload .item-img-upload:nth-child(3n + 2) {
  padding-right: 10px;
  padding-left: 10px;
}
.page-adsposition-edit .list-img-upload .item-img-upload:nth-child(3n) {
  padding-left: 10px;
}
.page-adsposition-edit .list-img-upload .item-img-upload.add-item .combo-upload {
  height: 252px;
  cursor: pointer;
  text-align: center;
  line-height: 220px;
  font-size: 20px;
  color: #777;
}
.page-adsposition-edit .list-img-upload .item-img-upload .combo-upload {
  border: 1px dashed #dcdcdc;
}
.page-adsposition-edit .list-img-upload .item-img-upload .combo-upload .img-upload {
  height: 220px;
  display: block;
  position: relative;
  background: #f0f0f0;
}
.page-adsposition-edit .list-img-upload .item-img-upload .combo-upload .img-upload img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-adsposition-edit .list-img-upload .item-img-upload .combo-upload .img-upload .control-img {
  -webkit-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
  line-height: 220px;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  opacity: 0;
}
.page-adsposition-edit .list-img-upload .item-img-upload .combo-upload .img-upload .control-img > * {
  -webkit-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.page-adsposition-edit .list-img-upload .item-img-upload .combo-upload .img-upload .control-img .fa-pencil:hover {
  background: #00bcd4;
}
.page-adsposition-edit .list-img-upload .item-img-upload .combo-upload .img-upload .control-img .fa-trash:hover {
  background: #f21848;
}
.page-adsposition-edit .list-img-upload .item-img-upload .combo-upload input {
  border: none;
}
.page-adsposition-edit .list-img-upload .item-img-upload:hover .combo-upload .control-img {
  opacity: 1;
}
