
@font-face {
  font-family: 'BaskervilleMTStd-Bold';
  src: url('../fonts/BaskervilleMTStd-Bold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/BaskervilleMTStd-Bold.woff') format('woff'),
  url('../fonts/BaskervilleMTStd-Bold.ttf')  format('truetype'), 
  url('../fonts/BaskervilleMTStd-Bold.svg#Baskerville-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BaskervilleMTStd-BoldIt';
  src: url('../fonts/BaskervilleMTStd-BoldIt.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/BaskervilleMTStd-BoldIt.woff') format('woff'),
  url('../fonts/BaskervilleMTStd-BoldIt.ttf')  format('truetype'), 
  url('../fonts/BaskervilleMTStd-BoldIt.svg#Baskerville-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BaskervilleMTStd-Italic';
  src: url('../fonts/BaskervilleMTStd-Italic.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/BaskervilleMTStd-Italic.woff') format('woff'),
  url('../fonts/BaskervilleMTStd-Italic.ttf')  format('truetype'), 
  url('../fonts/BaskervilleMTStd-Italic.svg#Baskerville-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BaskervilleMTStd-Regular';
  src: url('../fonts/BaskervilleMTStd-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/BaskervilleMTStd-Regular.woff') format('woff'),
  url('../fonts/BaskervilleMTStd-Regular.ttf')  format('truetype'), 
  url('../fonts/BaskervilleMTStd-Regular.svg#Baskerville-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BaskervilleMTStd-SemiBd';
  src: url('../fonts/BaskervilleMTStd-SemiBd.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/BaskervilleMTStd-SemiBd.woff') format('woff'),
  url('../fonts/BaskervilleMTStd-SemiBd.ttf')  format('truetype'), 
  url('../fonts/BaskervilleMTStd-SemiBd.svg#Baskerville-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BaskervilleMTStd-SemiBdIt';
  src: url('../fonts/BaskervilleMTStd-SemiBdIt.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/BaskervilleMTStd-SemiBdIt.woff') format('woff'),
  url('../fonts/BaskervilleMTStd-SemiBdIt.ttf')  format('truetype'), 
  url('../fonts/BaskervilleMTStd-SemiBdIt.svg#Baskerville-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face{
  font-family: 'HelveticaNeue-Bold';
  src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeue-Bold.ttf')  format('truetype'), 
  url('../fonts/HelveticaNeue-Bold.svg#Baskerville-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/HelveticaNeue.woff') format('woff'),
  url('../fonts/HelveticaNeue.ttf')  format('truetype'), 
  url('../fonts/HelveticaNeue.svg#Baskerville-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('../fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/HelveticaNeue-Light.woff') format('woff'),
  url('../fonts/HelveticaNeue-Light.ttf')  format('truetype'), 
  url('../fonts/HelveticaNeue-Light.svg#Baskerville-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
  url('../fonts/HelveticaNeue-Medium.ttf')  format('truetype'), 
  url('../fonts/HelveticaNeue-Medium.svg#Baskerville-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-UltraLight';
  src: url('../fonts/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/HelveticaNeue-UltraLight.woff') format('woff'),
  url('../fonts/HelveticaNeue-UltraLight.ttf')  format('truetype'), 
  url('../fonts/HelveticaNeue-UltraLight.svg#Baskerville-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}