/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footerset, header, hgroup, menu, nav, section {
	display: block;
}
body{
	line-height: normal;
}
body *{
	line-height: normal;
}
ol, ul {
	list-style: none;
	list-style-type:none;
	list-style-position:outside;
	margin:0;
	padding:0;
	line-height:normal;
}
ul li{
	line-height:normal;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{ margin:0; padding:0; }
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; 
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a { color:#000; text-decoration:none}
.none { display: none}
.left{ float:left}
.right{ float:right}
.fixed {position: fixed;}
.relative{ position:relative}
.absolute{ position:absolute}
.style-white{ background:#fff; color:#000}
.style-black{ background:#000; color:#FFF}
.clear{clear:both}
.bold{ font-weight:bold}
.underline{ text-decoration:underline;}
.inline{ display:inline}
.inline-block{ display:inline-block}
body * {font-family: HelveticaNeue;}
.link-item{
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1000;
}
/*.opacity-0{
	apcatity:0;
}*/
/*:selection {color:#FFF;background:rgba(0,0,0,0.5);}*/
::-moz-selection {color:#FFF;background:rgba(0,0,0,0.5);} 
.unselectable {
  /*-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;*/
}
input{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* img{
	background: #efefef;
} */
.nowrap{
	white-space: nowrap;
}
/*	CSS fix nowrap */
.left_nav a, .right_nav a,
.item_attr_account span,
.item_tab_content_profile, .item_tab_content_profile a,
.btn_select_cover,
.title_group_btul,
.description_title_group_btul{
	white-space: nowrap;
}
.nomargin{margin:0;}
