<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DangNhap.Properties.Settings.QuanLyHocSinhConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QuanLyHocSinh;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DangNhap.Properties.Settings.QLHOCSINHConnectionString"
            connectionString="Data Source=USER-PC\SQLEXPRESS;Initial Catalog=QLHOCSINH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>