<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/attendance?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="connection.useUnicode">true</property>
    <property name="connection.characterEncoding">utf8</property>
    <property name="connection.CharSet">utf8</property>
    <mapping resource="pojos/TbTeachers.hbm.xml"/>
    <mapping resource="pojos/TbLogin.hbm.xml"/>
    <mapping resource="pojos/TbStudents.hbm.xml"/>
    <mapping resource="pojos/TbSubjects.hbm.xml"/>
    <mapping resource="pojos/TbSchedule.hbm.xml"/>
    <mapping resource="pojos/TbSubjectsStudents.hbm.xml"/>
    <mapping resource="pojos/TbClassrooms.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
