#select-page {
    height: 27px;
    line-height: 27px;
    padding-left: 5px;
    color: #494949;
    height: 28px;
    padding-left: 12px;
    border-bottom: solid 1px #ccc;
    background-color: #f6f6f6;
}
#select-page .center {
    padding-left: 18px;
    width: 980px;
    margin: 0 auto;
}
#num-vip-auctions {
    margin-left: 10px;
    margin-top: 5px;
    color: #555;
}

#num-vip-auctions span {
    font-weight: bold;
}

#search-area {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 30px;
    margin-right: 10px;
    padding: 3px;
    z-index: 999;
}

#search-area #txtKeyword {
    font-size: 14px;
    padding: 2px;
    width: 200px;
    color: #777;
}

#search-area #btnSearch {
    padding: 3px;
    width: 70px;
    border: solid 1px #e51c24;
    background-color: #e51c24;
    color: #ffffff;
    cursor: pointer;
}

#m-logo {
    font-size: 15px;
}

#m-logo a {
    text-decoration: none;
}

#logo a img {
    margin-top: 10px;
}